## ignore markdown files
*.md

# ignore draw io files (graphs)
*.drawio

# ignore compiled classes
*.class

# git and eclipse stuff i don't want to paste
*.gitignore
*.history
*.index
*.dat
*.markers
*.snap
*.launch
*.version
*.settings/
*.metadata/